.main-header {
  background-image: url(./dist/images/head-pattern.png);
  background-repeat: repeat-x;
  background-position: top center;
  background-color: $gray-100;
}

.logo {
  padding: 40px 0 15px;
  &--mydmk {
    max-width: 100%;
    height: auto;
  }
  &__container {

  }
}

.main-menu {
  .navbar {
    height: 100%;
    padding: 10px 0;
    justify-content: flex-end;
    button {
      &[aria-expanded='true'] {
        border: $gray-300 solid 1px;
        i, svg {
          color: $gray-300;
        }
      }
      &[aria-expanded='false'] {
        border: black solid 1px;
        i, svg {
          color: black;
        }
      }
    }
  }
  ul {
    justify-content: flex-end;
  }
  li {
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    a {
      padding: 7px 5px;
      border-radius: 5px;
      &:hover {
        color: $secondary;
      }
    }
  }
}

.menu-primary-menu-container {
  width: 100%;
}
