.hero {
  background-image: url(./dist/images/hero-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 90px 0px;
  h2 {
    color: $white;
    font-size: 42px;
    text-transform: uppercase;
    text-shadow: $gray-600 4px 4px 3px;
    font-weight: 800;
    text-align: center;
    @include media-breakpoint-up(sm) {
      font-size: 60px;
      text-align: left;
    }
  }
  p {
    font-size: 14px;
    font-family: $secondary-font;
    color: $white;
    letter-spacing: 1px;
    font-weight: 300;
    text-shadow: rgba(77, 77, 77, 0.83) 1px 1px 2px;
  }
}
