.feature {
  border: $gray-200 solid 1px;
  padding: 0 35px;
  height: 240px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  transition: 500ms;
  &:hover {
    border: $contrast solid 1px;
    box-shadow: $gray-600 2px 3px 3px;
  }
  &__container {
    padding: 50px 0 70px;
  }
  &__heading {
    margin-bottom: 50px;
  }
  &__content {
    p {
      color: $gray-800;
      font-size: 14px;
    }
  }
  &__icon {
    padding-bottom: 35px;
  }
}
