.demo {
  background-image: url('./dist/images/demo.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 200%;
  background-color: #d4d5d9;
  @include media-breakpoint-up(sm) {
    background-size: cover;
    background-position: center;
  }
  &__btns {
    padding: 20px 0 130px;
    text-align: center;
    @include media-breakpoint-up(sm) {
      padding: 25px 0 300px;
    }
    @include media-breakpoint-up(lg) {
      padding: 50px 0 230px;
      text-align: left;
    }
  }
}
