.package {
  border: #e9e9e9 solid 1px;
  border-radius: 3px;
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  text-align: center;
  transition: 500ms;
  &:hover {
    border: $contrast solid 1px;
    box-shadow: $gray-300 3px 3px 5px;
    .package__price {
      background: #dbc280;
      background: -moz-linear-gradient(-45deg, #dbc280 0%, #dbc280 51%, #c5a95e 51%, #c5a95e 100%);
      background: -webkit-linear-gradient(-45deg, #dbc280 0%,#dbc280 51%,#c5a95e 51%,#c5a95e 100%);
      background: linear-gradient(135deg, #dbc280 0%,#dbc280 51%,#c5a95e 51%,#c5a95e 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbc280', endColorstr='#c5a95e',GradientType=1 );
    }
  }
  &:first-child {
    margin-right: 0px;
    margin-bottom: 20px;
    @include media-breakpoint-up(lg) {
      margin-right: 110px;
    }
  }
  &__container {
    padding: 40px 0;
  }
  &__price {
    border-bottom: #e9e9e9 solid 1px;
    padding: 30px 15px;
    background: $white;
    transition: 500ms;
    p {
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
      color: #3d3c3c;
      letter-spacing: 1px;
      margin: 0;
    }
    big {
      font-size: 48px;
      font-weight: 800;
      color: #3d3c3c;
    }
  }
  &__description {
    padding: 0 15px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #3d3c3c;
        margin: 30px 0;
      }
    }
  }
}
