.testimonials {
  background-image: url('./dist/images/testimonial-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  &__carousel {
    background-color: $white;
    position: relative;
    .owl-prev, .owl-next {
      position: absolute;
      margin: 0 !important;
      background-color: $contrast !important;
      border-radius: 0 !important;
      width: 30px;
      height: 45px;
      display: flex !important;
      flex-flow: column;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
  }
  &__content {
    width: 75%;
    margin: auto;
    text-align: center;
    padding: 40px 0 30px;
  }
  &__author {
    margin-bottom: 0;
    text-transform: uppercase;
  }
  &__position {
    margin-bottom: 0;
  }
}
