.contact {
  padding: 40px 0;
  p {
    color: $gray-600;
    font-weight: 300;
    span {
      width: 40px;
      display: inline-block;
      text-align: center;
      color: $gray-600;
    }
  }
}
