footer {
  background-color: $gray-800;
  color: $white;
  .nav {
    flex-direction: row;
    justify-content: center;
    padding: 30px 0 15px;
    li {
      margin-right: 25px;
      text-transform: uppercase;
      a {
        color: $gray-500;
        font-weight: 300;
      }
      &:last-child {
        display: none;
      }
    }
  }
}

.copyright {
  font-size: 11px;
  text-transform: uppercase;
  padding-bottom: 1em;
  margin-bottom: 0;
  a {
    color: $white;
  }
}
