a {
  &:hover {
    text-decoration: none;
  }
}

.btn {
  &-default {
    @include gradient-y(#e6e6e6, #fefefe);
    font-family: $secondary-font;
    color: $black;
    font-weight: 300;
    text-transform: uppercase;
  }
  &-nav {
    a {
      @include gradient-y(#fedd00, #f4ac00);
      font-weight: bold;
      position: relative;
      &::after {
        background-image: url(./dist/images/btn-shadow.png);
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 20px;
      }
    }
  }
  &__demo {
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    font-weight: 800;
    @include gradient-y(#e6e6e6, $white);
    border: $white solid 1px;
    padding: 10px;
    margin: 10px 0;
    &--left {
      &::after {
        background-image: url('./dist/images/shadow-left.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top left;
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 80%;
        height: 7px;
      }
    }
    &--right {
      float: none;
      @include media-breakpoint-up(lg) {
        float: right;
      }
      &::after {
        background-image: url('./dist/images/shadow-right.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right;
        position: absolute;
        content: "";
        top: 100%;
        right: 0;
        width: 80%;
        height: 7px;
      }
    }
  }
  &__contrast {
    width: 100%;
    max-width: 260px;
    border: #3d3c3c solid 1px;
    color: #3d3c3c;
    transition: 500ms;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      border: $contrast solid 1px;
      color: $black;
      background-color: $contrast;
    }
  }
  &__form {
    background-color: $contrast;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 500ms;
    &:hover {
      background-color: $gray-300;
    }
  }
}
