form {
  margin: 40px 0;
  .form {
    &-input {
      input, textarea {
        border: #606060 solid 1px;
        font-size: 14px;
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
      }
      &.multi-line {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        input {
          width: 48%;
        }
      }
    }
  }
}
