a {
  &:hover {
    text-decoration: none;
  }
}

.btn-nav {
  a {
    @include gradient-y(#fedd00, #f4ac00);
    font-weight: bold;
    position: relative;
    &::after {
      background-image: url(./dist/images/btn-shadow.png);
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }
}
